{
  "google": {
    "api_key": "YOUR_GOOGLE_API_KEY",
    "cse_id": "YOUR_GOOGLE_CSE_ID"
  },
  "exa": {
    "api_key": "YOUR_EXA_API_KEY"
  },
  "bing": {
    "api_key": "YOUR_BING_API_KEY"
  },
  "baidu": {
    "api_key": "YOUR_BAIDU_API_KEY",
    "secret_key": "YOUR_BAIDU_SECRET_KEY"
  },
  "wiki": {
    "path": "/path/to/your/local/wiki/data"
  },
  "rate_limits": {
    "default_cooldown": 300,
    "max_error_count": 3
  },
  "logging": {
    "level": "INFO",
    "file": "nlp_search_infra.log",
    "rotation": "100 MB"
  }
} 